[2015-04-21 18:10] jgnatch opened #4 "Bug when there aren't components"
There should be some kind of message when there aren't components.

![image](https://cloud.githubusercontent.com/assets/623766/7259260/6f633758-e838-11e4-9b01-94b8fa1b6fc3.png)

[2015-04-21 18:15] jgnatch opened #5 "Bug: Empty Component"
I created a component with the generator. When I go to the component(which is blank yet) I get this error:
![image](https://cloud.githubusercontent.com/assets/623766/7259356/0f6f5eca-e839-11e4-9e5a-40c8a69888e5.png)

A nice solution would be to guide the user with the following steps.

[2015-04-21 18:46] jgnatch opened #6 "Global components styles/js"
It would be nice to share some common styles on every component.

[2015-04-21 19:59] devnacho opened #7 "Metadata on the YML file"
Some metadata to add notes or change the component title.

[2015-04-22 02:11] jgnatch opened #8 "Define some Variables"
E.g Main Brand Color
- Brand Name (maybe this could be the rails app name)
- Brand Logo

This way the style guide can be more related to the user's brand

![image](https://cloud.githubusercontent.com/assets/623766/7266134/874dfb6c-e87b-11e4-9248-e4502844e04f.png)

[2015-04-22 20:27] jgnatch opened #9 "Humanize component titles with more than one word"
![image](https://cloud.githubusercontent.com/assets/623766/7284532/c8c938ce-e914-11e4-8da9-36f3da8d27f4.png)

[2015-04-23 16:25] #9 closed

[2015-04-23 16:25] kitop commented on #5
Closed in #10

[2015-04-26 02:33] #5 closed

[2015-05-04 15:37] kitop opened #13 "Do not break when no styles/javascripts in component"
We can just log if there are no css/js files for a component.

[2015-05-04 15:46] #4 closed

[2015-05-06 15:28] #13 closed

[2015-05-26 20:57] jgnatch commented on #6
Closed on #15

[2015-05-26 20:57] #6 closed

[2015-06-03 15:21] kitop opened #17 "Be able to use url helpers in components without prefix"
From #16

We should be able to use url helpers without any prefix, just like a normal app.

Probably has something to do with `isolate_namespace`.

[2015-06-17 20:27] kitop commented on #17
Closed in #18

[2015-06-17 20:27] #17 closed

[2015-06-17 20:29] jgnatch commented on #17
Hey @Fodoj it is now possible to use url helpers inside components without having to add the prefix `main_app`

Cheers!

[2015-07-15 15:02] gazaston opened #19 "Override styleguide layout and styles"
Great gem :) Is there a simple way to override the styleguide layout and style files?

EDIT: a bit of digging on SE gave me the answer: http://stackoverflow.com/a/7175241

[2015-07-15 18:27] #19 closed

[2015-07-18 21:37] gazaston opened #20 "Bourbon"
Hey,

I can't figure out a way to use Bourbon mixins in my components' sass files… any suggestions?

[2015-07-19 10:55] gazaston commented on #6
It would be great to make jquery globally available to all components, too.

[2015-07-19 16:30] kitop commented on #6
@gazaston good idea! I think something similar to what was done with stylesheets in #15 would work, right?

[2015-07-19 16:31] kitop commented on #20
@gazaston doing `@import 'bourbon';` at the beginning of the sass files should work.
Have you tried that? If so and not working, are you getting any error?

[2015-07-19 19:31] gazaston commented on #6
I guess so. For now, I've added a file `app/assets/javascripts/mountain_view/styleguide.js` and added the line `//= require jquery`. Works fine.

[2015-07-19 19:32] gazaston commented on #20
Hey, that worked fine — I have a fairly custom set of default stylesheets I like to use, and I just needed to tweak the import order a bit.

[2015-07-19 19:32] #20 closed

[2015-08-14 11:37] tsujigiri opened #23 "A class for each component"
In order to be able to deal with more complex logic, each component should have it's own class. It looks to me like `MountainView::Component` was intended to be the super class to inherit from for this purpose, only that the `render_component` helper doesn't use it but directly renders the partial and passes along the properties. Are there any plans to change this? I'd be glad to come up with some

[2015-08-15 20:48] kitop commented on #23
@tsujigiri thanks for your comment!
Can you explain a bit more what you have in mind? Maybe an example?
For what I understood, it could be something similar to [cells](https://github.com/apotonick/cells).

`MountainView::Component` was intended to simplify some logic in the stylesheet, more than each component. But it may make sense to extend it a bit, or use a similar idea to create components.

[2015-08-18 07:16] tsujigiri commented on #23
I'm pretty much thinking of something similar to Cells. In order to get some more documentation out of it, I could imagine requiring the params each component accepts to be explicitly declared. E.g.:

[code]
Maybe with an additional boolean parameter for declaring mandatoryness. The styleguide generating code could then iterate over these classes. All properties would appear in the styleguide.

In

[2015-08-30 19:54] kitop commented on #23
@tsujigiri I like the idea initially. We'll have to give it a bit more thought though.
Originally, the MountainView::Component object was extracted as a class to reduce the amount of helpers and code duplication.

You're proposition is really nice but, right now, means a big change to how Mountain View works—but the idea is really nice. We thought a bit about cells when we initially were developin

[2015-09-21 09:53] dahliacreative opened #24 "Ability to add additional pages for generic documentation."
Hi, we are currently using mountain view on a project, and it is awesome, but one thing we'd find really useful is to add some extra pages to the style guide for things that aren't components, like for grid layouts, coding styles, generic classes etc.

It would also be good if you can add some extra documentation to you component YML, for instance just a paragraph at the top of the page where you

[2015-09-21 12:00] dahliacreative opened #25 "Assets for components not being included in styleguide"
When I have a component called 'debate' or 'debates' it's assets (sass / js) are not showing up in the styleguide, the html/yml works fine but just no assets. Works perfectly fine if I rename it to something else though.

Really weird, any ideas?

[2015-09-21 15:13] jgnatch commented on #24
Hey @dahliacreative,

It sounds like a great idea! It's something I wanted to do but couldn't find the time.

Feel free to open a PR or I'll try doing it during these weeks.

Cheers!

[2015-09-21 15:29] kitop commented on #25
@dahliacreative Wow, that is really weird!
Do you happen to have another file named debate or debates in the normal `app/assets/{javascripts,stylesheets}` directories?

[2015-10-18 13:51] GustavoCaso commented on #24
@jgnatch The pagination would be part of the `yml` file configuration or more like a global configuration ?
The extra documentation would be something I will take the time because seems simple, but for extra pages I would like to have more information.

Thanks.

[2015-10-20 01:22] kitop commented on #23
@tsujigiri would like your input on @tombeynon's contribution on #26

[2015-10-22 23:54] kitop commented on #7
#27

[2015-10-27 12:29] tombeynon commented on #25
I've noticed at least once where a stylesheet or javascript wasn't included (with no error or explanation). One example was `poll/poll.js` not getting included. I was able to fix this by changing this line..

https://github.com/jgnatch/mountain_view/blob/master/app/assets/javascripts/mountain_view.js.erb#L6

[code]

Happy to submit a PR for this, but we should probably do the same for stylesheets,

[2015-10-28 10:52] GustavoCaso commented on #24
@jgnatch @kitop guys what you think about adding some configuration for adding extra pages to the styleguide like
[code]
Each element in the array will create a different page with own style and javascript files.
What you think ?

[2015-10-28 14:39] kitop commented on #24
@GustavoCaso something like that may work. Where would those pages live?

[2015-10-28 18:31] kitop commented on #25
@tombeynon interesting. Will give that a try! Thanks a lot!!

[2015-10-30 09:23] tombeynon commented on #25
I suspect this is fixed now. @dahliacreative don't suppose you could test this debate example again easily?

[2015-10-30 14:49] kitop commented on #25
@dahliacreative @tombeynon I'll close the issue. Feel free to comment or re-open it if still failing!

[2015-10-30 14:49] #25 closed

[2015-11-11 00:14] GustavoCaso commented on #24
Hi @kitop.

Doing a recap on this issue, I think that there could be multiple options for where the pages could live:
* Inside the gem, like the `show` of the styleguide (but I think it would not give a lot of flexibility for the user)
* Inside the user application, maybe a different structure but similar to the `components`, given the user flexibility to decide how they want to display the inform

[2015-11-11 20:13] kitop commented on #24
@GustavoCaso I like option 2!
The user may be able to extend the styleguide controller and add views to it, and it'd be a matter of just adding the routes to the engine—which could be done with a config setting or similar.
As far as I remember, there's kind of template inheritance with Engines.

Thoughts?

[2015-11-11 20:59] GustavoCaso commented on #24
@kitop I like the idea of using some kind of configuration like the one above, this will create the template, the routes and even the links inside the styleguide, but the user will have all control for adding, removing and editing the page, at his/her will.

[2015-11-11 22:01] kitop commented on #24
@GustavoCaso That could definitively work!
So, the user will just declare custom pages in the config, and then add the views in `app/views/mountain_view/styleguide/<page>`, or something like that, right?

@jgnatch thoughts?

[2015-11-11 22:04] GustavoCaso commented on #24
@kitop Yes that is what I had in mind, also automate the route creation or even adding the links in the sidebar of the styleguide.

What do you think ?

[2015-11-11 22:06] kitop commented on #24
@GustavoCaso Yes, that'd be automatically added from the configuration setting :)

[2015-11-11 22:16] GustavoCaso commented on #24
Great @kitop.

Now that we are in the same page I will start developing.

I hope to have a PR as soon as possible

[2015-11-11 22:19] kitop commented on #24
Awesome!!! Thank you so much! :)

@dahliacreative your input is very welcomed as well!

[2015-11-11 22:27] jgnatch commented on #24
@kitop @GustavoCaso totally agree with this solution. Option 2 is the one I like most too!

[2016-01-08 18:00] dskoziol opened #30 "Trying and failing to have my components use vendor mixins (bootstrap, bourbon)"
Hey, I'm a bit new to this, so maybe there's a simple fix to my problem. I'm trying to see if I can incorporate Mountain View into a project I'm doing, so I'm building a single component first and seeing how it goes. The problem is that our project is using bootstrap and bourbon (through the bootstrap-sass and bourbon gems), and I'm not finding an easy way to make them work with the Mountain View

[2016-01-27 15:04] dskoziol commented on #30
Would it be possible to `@import mountain_view` where I want it to go in my asset pipeline in application.scss (after bootstrap, variables, and anything else that I want to use in the component assets), and direct the style guide to use this file for CSS? It seems like `//= require` statements are following out of favor anyway (from RailsGuides: `If you want to use multiple Sass files, you should

[2016-03-07 10:51] OddEssay commented on #8
If you place a copy of the engine provided layout file into `app/views/layouts/mountain_view.html.erb` then Rails should pick that up before the engine layout and use that. You can then modify that as you wish.

![mountainview](https://cloud.githubusercontent.com/assets/837227/13567319/77275b7e-e452-11e5-80a2-ccbda9556fa8.png)

[2016-03-09 00:04] reubenmoes opened #32 "Ability to nest compontents"
Within the component haml template it would be great if you could nest other components (ex buttons within cards)

[2016-03-09 02:52] kitop commented on #32
Hey @reubenmoes, you should be able to nest components by calling `render_component` inside a component template. Have you tried that?

[2016-03-10 03:37] #7 closed

[2016-03-17 12:05] paulkogel opened #34 "tests fail when seeded with 13277 or 22042"
when running `rake TESTOPTS="--seed=13277"` on current master i get this failure (ruby 2.3.0, OSX 10.11.3):

[code]

[2016-03-17 12:19] OddEssay commented on #34
I can reproduce the same error with ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14] and the seed specified in `rake TESTOPTS="--seed=13277"`

[2016-03-17 12:58] paulkogel opened #35 "Global Stylesheets: cannot get them working"
I forked the `mountain_view_demo` repository and extended it with one commit:
https://github.com/paulkogel/mountain_view_demo/commit/4acfde0e3325b7b2e8fda77abd037b741a8e10a4

I'm trying to import a colour variable from `app/assets/stylesheets/color.scss` in a component. I added "color" to the `mountain_view` initializer (as shown in the readme), but still get the error message `"Undefined variable

[2016-03-17 14:24] paulkogel opened #37 "Styleguide CSS has a CSS reset and modifies <body>"
see https://github.com/devnacho/mountain_view/blob/master/app/assets/stylesheets/mountain_view/styleguide.css#L10
and https://github.com/devnacho/mountain_view/blob/master/app/assets/stylesheets/mountain_view/styleguide.css#L8

`<body>` is not really an issue, but i think the styleguide generated by mountain view should use the same unmodified styles as the app - hence everything in the styleguide

[2016-03-17 15:09] kitop commented on #34
I can reproduce too. Very good catch! Thanks!!
I'll investigate why it happens.

[2016-03-17 15:26] kitop commented on #35
@paulkogel I'd say that doing `@import "colors";` in the components that are needed is the right way to do it.
Given, the stylesheets you import should only contain variables definitions and mixins, and not actual code. That way, the dependencies are super clear and it's less surprises occur if you ever change that file's name or the variables—you can track exactly which other files depended on it

[2016-03-17 15:30] paulkogel commented on #35
ah ok, thanks for the explanation!
should complete the information in the README then, it confused me a bit.

[2016-03-17 15:31] paulkogel commented on #35
and we should add how to do it to mountain_view_demo and update it to 0.8.1 :)
i might take a look at that later.

[2016-03-17 15:34] kitop commented on #35
Ah, yes! Documentation is a bit outdated. I'll work on that this week.
Feel free to contribute if you want :)

Thanks again for your help, and keep 'em coming!

[2016-03-17 15:36] paulkogel commented on #35
you're very welcome :)

[2016-03-17 22:51] kitop commented on #34
Fixed in 76d9516 :)

[2016-03-17 22:51] #34 closed

[2016-03-24 23:53] reubenmoes commented on #32
@kitop  Ah, that worked.  I was using the wrong syntax.   This worked
[code]

[2016-03-24 23:53] #32 closed

[2016-04-08 13:12] devnacho commented on #8
@OddEssay, sorry for not replying earlier. I've been away on holidays 100% disconnected the last month :)

That themed Styleguide looks awesome. Is the Styleguide public so I can check it out? If not, do you have a couple of screenshots?

Thanks!!!

Nacho

[2016-04-08 14:14] OddEssay commented on #8
@devnacho Nice excuse! ;)

We don't have a public version as such, but right now it can be accessed on a test url of https://morning-shore-9193.herokuapp.com/mountain_view/styleguide/ - Which will be there until it's not (Might be a week, might be a month).

At some point, we'll be writing up a blog post (And maybe a talk/presentation for some of the user groups we're involved with) on how we've u

[2016-04-11 10:21] devnacho commented on #8
Hey @OddEssay thanks for sending the link. The style guide looks awesome. It makes me happy to see how other people are using the tool.

Feel free to put the link to your blog post here when you have it. I'm eager to read about the design principles you used with components and Mt.View.

I don't think I have any particular subject in mind. (Maybe @kitop...anything you want to add?)

Cheers!

Nacho

[2016-05-15 13:10] gazaston opened #41 "component class gives undefined local variable or method"
If I add a class e.g. header_component.rb to my component, do I need to do anything else? I'm getting undefined local variable or method errors, seems the class is not being loaded?

[2016-05-15 13:12] drakmail commented on #41
Does you defined a properties in header_component.rb?

[2016-05-15 13:20] gazaston commented on #41
Yeah, code here:

components/header/header.html.haml
[code]

components/header/header_component.rb
[code]

[2016-05-15 13:21] drakmail commented on #41
It should be:

[code]

[2016-05-15 13:25] drakmail commented on #41
Oh, I'm forgot one important moment:

1. You really can use `properties`
2. Maybe you must use a gem from github, because current version on rubygems doesn't include a Presenter class. Just change declaration in you Gemfile to: `gem 'mountain_view', github: "devnacho/mountain_view"`

[2016-05-15 13:27] tombeynon commented on #41
You also need your HeaderComponent to inherit from MountainView::Presenter

[2016-05-15 13:30] gazaston commented on #41
Getting the gem from github fixed it.

Tom, thanks for the sanity check — my code has the inheritance, but I forgot to include it in my example :)

[2016-05-15 13:30] #41 closed

[2016-05-16 14:41] kitop commented on #41
A new version with these changes is going to be released very soon!
Thanks all for your help and interest.

[2016-05-24 14:41] jweissman opened #42 "Gem version out of date with docs"
Just ran into this -- the new `Presenter` class (added about a month ago) doesn't yet exist in the gem version (bumped about 3 months ago)

[2016-05-24 14:48] jweissman commented on #42
This is workaround-able with something like this in your Gemfile:

    gem 'mountain_view', github: 'devnacho/mountain_view'

[2016-06-04 23:13] kitop commented on #42
Just released version 0.9.0 with this change :)

Thanks for your patience!

[2016-06-04 23:13] #42 closed

[2016-06-04 23:13] #23 closed

[2016-09-30 20:09] alexandra-aas commented on #30
I'd like to upvote this.

[2016-10-11 09:58] kitop commented on #30
For bourbon, you should be able do do `@import "bourbon"` in the components that use it. As it's all mixins, it should generate duplicate CSS.

For bootstrap, using `config.included_stylesheets = ["bootstrap"]` should do it, be aware you should restart your development server after changing the initializer.

Let me know if any of this helps. If not, an example repo withe just the things that are n

[2016-10-13 19:01] jonathanrbowman commented on #35
I haven't been able to get global stylesheets to work, either, unfortunately. What I did, though, is made a file `app/assets/stylesheets/_mountain-view-imports.scss` and put my imports for different files for colors, fonts, mixins, media-queries, etc. in there.

This way, at least, I only have to worry about including one line at the top of my Mountain View components - `@import "mountain-view-imp

[2016-10-14 07:37] kitop commented on #35
@jonathanrbowman can you show an example of the way you ended up using it?

If you are including those stylesheets in `mountain_view` (via `included_stylesheets`), you shouldn't be requiring them in `application.css`, that way you avoid ending up with duplicate CSS—and they are going to be there anyway if you do `require mountain_view`
`@import` directives are great for mixings, variables, etc, an

[2016-10-14 13:35] jonathanrbowman commented on #35
@kitop Thanks for getting back to me!

That would definitely be the best way to go, and the first thing I tried was to use the MV initializer to set the `included_stylesheets` config as shown in the ReadMe. Then, require `mountain_view` in `assets/stylesheets/application.scss`. The issue was, though, that when I tried to do something in the MV initializer like...
[code]
...and then reference any o

[2016-10-14 15:14] kitop commented on #35
I see what you're saying.
Yes, definitively the README is not clear. Mixins should *not* go into the `included_stylesheets`, you should manually `@import` those. `included_stylesheets` is only for actual CSS like bootstrap, a reset, or stuff like that.

Your solution also works, and thanks for clarifying! I'll update the README regardless.

Thanks!

[2016-10-15 09:03] #30 closed

[2016-10-15 09:03] #35 closed

[2016-10-17 13:35] jonathanrbowman opened #44 "Using "label" as a component property name."
Sorry if this has already been addressed somewhere, but I generated a component called `button` and declared `label` as one of its `properties`.

When trying to use it, though, rails gives me this error:
[code]

Changing it from `label` to `button_label`, or anything else, lets it work without issue. Is `label` a reserved property name in Mountain View?

[2016-10-17 14:43] kitop commented on #44
`label` is an existing method in Rails: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-label

I'd definitively try to use a different name for that property, or create an alias for it if you're using a component class.
[code]

[2016-10-17 14:43] #44 closed

[2016-10-17 14:57] jonathanrbowman commented on #44
Whoops, thanks for letting me know and for the suggestion!

[2017-03-30 02:45] MikeRogers0 opened #45 "Adjusting MountainView::Engine routes"
Is there a way to change the mountain_view mounted engine styleguide path from (When I run `rake routes`):

[code]

to

[code]

I've mounted my engine on a subdomain like:

[code]

[2017-03-30 09:02] tombeynon commented on #45
Hey @MikeRogers0 - fancy seeing you here 😉

Setting the styleguide resource to use `/` for it's path isn't possible with the current setup - see [config/routes](https://github.com/devnacho/mountain_view/blob/master/config/routes.rb#L4).

It would be pretty easy to [add a config](https://github.com/devnacho/mountain_view/blob/master/lib/mountain_view/configuration.rb) for `styleguide_path` (default

[2017-03-30 09:18] kitop commented on #45
@MikeRogers0 Thanks for reaching out. As @tombeynon said, that is not possible _right now_, but it would actually be a very useful config option.

More than happy to accept PR's if you want to work on it, otherwise I can give it a look sometime this weekend.

[2017-03-30 14:24] devnacho commented on #45
@MikeRogers0 @tombeynon I agree with @kitop that this would be very useful 😃

[2017-03-30 21:38] MikeRogers0 commented on #45
#46 PR sent, it still has some work to do on it but I'd love to know your thoughts.

[2017-04-24 17:06] #45 closed

[2017-05-11 03:33] angelocordon opened #50 "Component SCSS not loading"
Hi guys,

Been really loving this gem! Thanks so much for putting it together.

I'm having some style asset related issues - I have a component, and originally it had an empty SCSS file. I've deleted it but later needed to add it back. After updating it with some styles, I'm noticing that my app is not compiling with the updated stylesheet at all. I've restarted my app numerous times to no avail.

[2017-05-11 16:38] kitop commented on #50
Hi @angelocordon, thanks for the kind words!

Can you create a gist or paste your file structure for that component?
A bit more context would be really helpful to debug this case!

[2017-05-11 18:43] robcole commented on #50
Hey @kitop - I helped @angelocordon debug this earlier today (I work with him) and the issue was that he was trying to use a SCSS file extension instead of CSS.

https://github.com/devnacho/mountain_view/blob/d6c85c36b5401c6eed3097d1ad8ddbe3cb9c6041/app/assets/stylesheets/mountain_view.css.erb#L9 led me to realize that files have to be called CSS, even if they're semantically SCSS/whatever else.

[2017-05-17 09:17] kitop commented on #50
Hi @robcole, hi @angelocordon
Thanks for the further explanation on the issue!

Yes, `require_asset` should not worry about the extension. The idea is that it can be used with any preprocessor that works with sprockets.

Seems like this is no longer the issue then? I'll close, but feel free to comment or open another issue if it happens again.

[2017-05-17 09:17] #50 closed

[2017-06-12 03:08] Frexuz commented on #8
Would be nice with a rails command to copy over the engine stuff, like `rails mountain_view:copy_assets` :)

[2017-06-12 08:55] kitop commented on #8
@Frexuz great idea! Do you want to send a PR?

[2017-06-12 08:58] Frexuz commented on #8
I can try, but not today :) Will start using MV later this week, can try then :)

[2017-06-12 09:04] kitop commented on #8
Awesome, thanks!!!

[2017-06-13 13:01] GustavoCaso commented on #24
@kitop we can close this one

Also any feature plans for next release ?

[2017-06-13 13:04] kitop commented on #24
Closed!
No specific plans yet, but ideas and feedback are more than welcome!

[2017-06-13 13:04] #24 closed

[2017-06-14 02:59] timshingyu opened #51 "Problem for execute generator"
Just following the document to run

`rails generate mountain_view:component header`

It show up

/Users/Tim/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/mountain_view-0.12.0/lib/mountain_view/engine.rb:34:in `block (2 levels) in <class:Engine>': undefined method `helper' for ActionController::API:Class (NoMethodError)

[2017-06-14 18:11] kitop commented on #51
Are you using `rails --api`?

[2017-06-15 02:54] timshingyu commented on #51
no, just run this
`rails generate mountain_view:component header`

[2017-06-15 07:50] kitop commented on #51
Mhm, seems like your app is a API-only app, thus not having ActionView and other required modules for displaying views, helpers, etc.
Is that the case? Can you give a bit more context on your app?

[2017-06-15 08:07] Frexuz commented on #51
(We're working together) I've found the problem! It's `gem 'draper'`
The generator works after removing draper.

Not sure if this is a mountain_view issue, or a draper one..

[2017-06-15 08:21] kitop commented on #51
Oh, interesting...
Seems like draper is doing a bit of monkey patching: https://github.com/drapergem/draper/blob/v3.0.0/lib/draper/railtie.rb#L3-L10

But I can't see how that may be affecting Mountain View's generators... which version of draper are you using?

[2017-06-15 08:33] Frexuz commented on #51
same 3.0.0

[2017-06-15 08:46] kitop commented on #51
Interesting. I can't find any relationship to it though... If you investigate more, would you mind sharing any findings? Is this OK to close?

[2017-06-15 08:55] Frexuz commented on #51
I'll ask over at Draper :)

[2017-06-21 04:59] Frexuz commented on #51
An update:

[code]

Seems activeadmin is included in the collision.

- mountainview + draper works
- mountainview + activeadmin works
- mountainview + draper + activeadmin does not

I'll have to post at active_admin as well :P

[2017-06-21 07:16] kitop commented on #51
Oh wow, thanks for reporting!
I can reproduce it now with your repo (https://github.com/Frexuz/mountain_view_test)

Will investigate further this week. Please keep us posted if any news :)
Thanks again!

[2017-06-27 05:45] robcole opened #52 "Rails 5.1 w/o jbuilder: undefined method `helper' for ActionController::API:Class"
Our tests began failing in a Rails 5.1.1 app when jbuilder was removed.

App: Rails 5.1.1, without jbuilder, triggers this when running `rspec spec`. With `jbuilder` installed, tests pass. I'm a bit confused about why this would be from reading through jbuilder's code, but calling the helper method explicitly seems to fix it. I can try to reproduce this error in a clean app for you if you needed i

[2017-06-27 05:48] robcole commented on #52
Hey guys, I have a fix for this coming in a PR - just making sure all tests pass currently before I push a PR to my forked branch, and then to here.

[2017-07-01 14:01] Frexuz commented on #51
Any findings? :D

[2017-07-01 18:27] kitop commented on #52
Hi @robcole thanks for this!
Seems to be related to #51, right?

[2017-07-01 18:32] kitop commented on #51
Hi @Frexuz, @robcole just contributed a PR that should fix this: #53
Just released that in v0.12.1, can you try it?

[2017-07-02 01:33] snuggs commented on #52
Yup @kitop! Interesting Github didn't "Auto close" the project. Must be from maintainers only. /cc @robcole

[2017-07-02 03:10] Frexuz commented on #51
Works! :D <3

[2017-07-02 17:26] #51 closed

[2017-07-02 17:27] #52 closed

[2017-07-02 19:57] snuggs commented on #52
@kitop 🙏

[2017-07-03 09:53] Frexuz opened #54 "Advanced Yaml stubs?"
I'm not sure this is possible:

I'm doing a pagination component, quite simple:

`<%= render_component :pagination, collection: @some_collection %>`

[code]

Would it be possible to create stubs for this somehow? The `paginate` method requires a `Kaminari::PaginatableArray`

Obviously, this doesn't work

[code]

[2017-07-05 01:52] kitop commented on #54
You can serialize an object in YAML by adding an specific comment, eg:

[code]

[code]

For more info: http://yaml.org/YAML_for_ruby.html#objects

That may help point in the right direction?

[2017-07-14 18:19] Spone commented on #37
I also have this issue. How can I help solve it?

[2017-07-16 14:12] kitop commented on #37
The easiest way to currently work around it is to  add your own `app/views/layouts/mountain_view.html.erb` (in your app) that will override the gem one. It should give you way more flexibility.

#38 gives an alternative solution to this, but it has conflicts and can't be merged right now. Any feedback regarding those changes is welcomed!

[2017-08-01 16:25] snuggs opened #55 "False creation messages for invalid component name"
First let me say awesome job with Mountain View. The principles of componentizing the web are amazing. I have also been working on conventions very similar on a front end library. I must say there was 💯  overlap in methodologies and this is now a tool I am teaching the NYC ruby community on how to build server side rendered components. One of your contributors @robcole put me up on it and it was 😍

[2017-08-02 04:51] angelocordon commented on #55
@snuggs the components are optional as per their [docs](https://github.com/devnacho/mountain_view#component-example) , which is fine because I haven't always had a need for it.

 I just manually create them `<component-name>_component.rb` inside the component's folder.

[2017-08-02 04:54] angelocordon commented on #55
I think if anything, it would be nice to include a flag when creating a component though or set it through some sort of config?

[code]

[2017-08-02 07:26] snuggs commented on #55
@angelocordon I'm down to take a crack at it if @kitop is open to PRs in interest of your suggestion.

[2017-08-02 12:08] kitop commented on #55
@snuggs Thanks for the kind words!!! It really means a lot.

Regarding the `-` yeah, that's a tricky case... Ruby convention is tipically to not use `-` anywhere, so probably a warning is OK. Trying to work around it, as you said, may mean going against the language a bit.
If `-` are really needed, maybe there can be a translation layer at some point to abide the Web Components Custom Elements spe

[2017-08-03 05:04] Frexuz commented on #54
Thanks :)

[2017-08-03 05:04] #54 closed

[2017-08-07 15:31] kimadactyl opened #56 "undefined local variable or method `extra_pages'"
Heya,

Just tried to install this following the directions to my existing Rails site. I made a header element with some static info in to test it. When I try and look at the style guide I get
[code]

The stacktrace is showing this as being with Spree (I don't see how it could be) so I'm not sure if that is the problem or not, leaving all the output in for clarity, apols if that is the case. I have

[2017-08-07 16:40] kitop commented on #56
Mhm... taking a look at this.
Will be realeasing a new patch version soon!

[2017-08-07 16:45] kitop commented on #56
@kimadactyl just released 0.12.2.

Can you try upgrading? Thanks!

[2017-08-08 10:50] kimadactyl commented on #56
Wow, that did the trick, fastest bug fix ever, thankyou :100:

[2017-08-08 10:50] #56 closed

[2017-08-08 11:09] kimadactyl opened #57 "undefined method `render_component'"
Heya, not sure if linked to #56 or not but after the update I'm getting this. Header is a basic component with nothing fancy going on.

[code]

Gemfile:

[code]

[2017-08-08 13:49] kimadactyl commented on #57
Hmm, I just tried this on a fresh-ish rails install and it works fine. Presumably some gem clash... ugh argh.

[2017-08-08 14:26] kitop commented on #57
@kimadactyl I see you're using Rails 4.2 there. Did it work when you tried in a new 5.1 instance?

[2017-08-08 14:27] kimadactyl commented on #57
Oh right, yes, that would be it, bit slow today :)

[2017-08-08 14:33] kitop commented on #57
Can you try it in a brand-new Rails 4.2 application without spree?

[2017-08-08 15:15] kimadactyl commented on #57
Just tried it and it's working fine :( do you think it is Spree causing the issue? All I can think is that that uses a mount directive. Maybe a clash?

[2017-08-08 15:24] kitop commented on #57
@kimadactyl mhm... that's interesting... It may be related to #51, #52, and #53.

Are you trying to render the component from a Spree controller?
Not sure what Spree is doing, but if it doesn't inherit from `ActionController::Base`, you may need to manually include those helpers.

[2017-08-08 15:27] kimadactyl commented on #57
No, just rendering it from `application.html.erb` at the moment. Hmmmmmmmmm.

[2017-08-08 15:34] kitop commented on #57
Can you try adding
[code]
to your `ApplicationController`?

[2017-08-08 15:38] kimadactyl commented on #57
That's got it, thanks again! :1st_place_medal:

[2017-08-08 15:38] #57 closed

[2017-08-08 15:47] kitop commented on #57
:D Great!!
Will add a workaround for 4.2 in the gem soon!

[2017-08-14 11:57] kimadactyl opened #58 "Create option for component documentation to have horizontal navigation"
It would be great if the left hand navigation could go at the top instead to make testing responsive components easier. Obviously can hide it using `display: none` but be great to not have to do this :)

[2017-08-14 12:12] kimadactyl commented on #58
Yeah can possibly do a PR, would be some considerable yak shaving for where I'm at right now but can have a look soon :smile:

[2017-08-14 12:24] kitop commented on #58
Sure, thanks!

If you want, maybe we can start with screenshots of what you have first (covering sensitive information if needed), so we are all in the same page regarding looks and responsiveness.

[2017-08-15 11:31] kimadactyl opened #59 "Is it possible to pass a yield in through a yml stub?"
Heya, more feature requests :smile:

Is it possible to pass some sample yields in via the yml stub file? I've tried a bunch of things but I think yield is a protected keyword? Be great to be able to test things with arbitrary content.

Thanks!

[2017-08-15 12:00] kitop commented on #59
Hi @kimadactyl
This was something talked before, see #49 (merged) and #40 (pending)

Unfortunately, passing blocks in the stubs is kinda hard, as there's no simple way to serialize it in YAML. But you can use the `meta` key in the stubs. Unfortunately it's not currently documented (but I'll add it soon!)—but you can see #27, or ask if any questions!

Let me know if that helps!

[2017-08-17 09:20] Spone opened #60 "Order of the components in sidebar"
Hello there,

I can't figure out why my components are not displayed in alphabetical order in my styleguide sidebar. Is there a way to force this (without adding some specific logic in my layout)?

![image](https://user-images.githubusercontent.com/38524/29405339-ed03ad08-833d-11e7-954e-ec4484fc3bc8.png)

I think it should be the default, what do you think?

Thanks

[2017-08-17 09:33] Spone commented on #60
I mean, I can have this in my layout:

    mv_components.sort_by(&:name).each do |component|

But if you think it should be the default, I'd be happy to prepare a PR for this.

[2017-08-17 09:36] kitop commented on #60
Great point @Spone! Yeah, it should definitively be the default.

I'll push the change and release a patch version in a bit.

Thanks for the input!!

[2017-08-17 09:38] kitop commented on #60
Just out of curiosity, in what OS and ruby version are you noticing this?

[2017-08-17 09:42] Spone commented on #60
Ubuntu 16.04 LTS, Ruby 2.4.1 (yeah it's pretty weird that the file system returns them in this order)

[2017-08-17 09:43] Spone commented on #60
Also, it's a detail but I think you should consider using:

    link_to_unless_current component.title, styleguide_path(id: component.name)

instead of

    = link_to component.title, styleguide_path(id: component.name)

So the current component is shown differently.

[2017-08-17 09:46] #60 closed

[2017-08-17 09:46] kitop commented on #60
@Spone that's a good point to! Will update and release in the same version bump :)

[2017-08-17 10:03] kitop commented on #60
Changes released in v0.12.3 🎉

Thanks for your help and input @Spone!!

[2017-08-17 18:56] Spone opened #61 "Integration with webpacker / Rails 5.1"
Hi there,

are you planning on improving the compatibility of mountain_view with [webpacker](https://github.com/rails/webpacker) / Rails 5.1?

For instance, I'd like to load my components SCSS and JS as a pack, instead of assets, so I can use ES6 in my component's javascript.

For now, I've managed to do that by naming my component JS file something else than `{component}.js` (so mountain_view doe

[2017-08-21 11:52] kitop commented on #61
@Spone this is a great idea.

We're definitively open to make MoutainView compatible with with webpacker! And open to any feedback on how to do it, if you already have some experience with it. I personally haven't integrated webpacker and mountain view yet.

Also, this may be slighlty related to #55

[2017-08-21 13:57] Spone commented on #58
My 2 cents: you can also keep the navigation vertical (which is the most effective when you have a lot of components) but add a toggle button to hide it, so you can display your component in full width. That's the solution we usually favor on our styleguides.

[2017-09-14 14:30] jonathanrbowman opened #62 "Styleguide global assets, like js and scss outside of components?"
Loading the styleguide to view a component shows the css and javascript that goes along with that component, but what about other javascript and css, not contained within the component folder?

For example, a component that relies on styles not kept within its own stylesheet. Like, a card that uses `.o-heading` objects. I have a css file for headings, but that doesn't belong with the card componen

[2017-09-14 15:35] kitop commented on #62
Hi @jonathanrbowman, thanks for your words!

Regarding the external CSS in the stylesheet, there's a configuration option for including that: https://github.com/devnacho/mountain_view#global-stylesheets
Hope that helps, and do not hesitate to ask if any further questions.

Regarding JS, there's currently no option for that. But seems like it could be a good idea to add one. Happy to accept a PR if

[2017-12-05 11:26] corroded opened #63 "Keen to use this....only one huge problem: we have Property as a model"
Is there a way to override the `properties` and `property` method like in a config somewhere? We have Property as a model (`properties` table).

[2017-12-13 19:04] nickmjones opened #64 "undefined local variable or method 'title' when running example"
This project looks great, but when setting up the `header` example in the docs, I get

`undefined local variable or method `title' for #<#<Class:0x00007f834d7eb620>:0x00007f834d7c9e08>`

I saw a few other closed issues relating to this, but it seems patches were issued that fixed them. Could this relate to me trying to use this with Rails 5? Any help is appreciated. Again, this looks like a fantas

[2017-12-14 16:31] nickmjones commented on #64
Looks like I was mistyping the class name in `MountainView::Presenter` as `Mountainview::Presenter`. I was tired. Working great now.

[2017-12-14 16:31] #64 closed

[2018-01-02 09:04] kitop commented on #63
Hi @corroded, what's the error you're getting?
You should be able to pass `property` or `properties` in the second argument hash, and then access it as `properties[:property]` or `properties[:property]`

Can you please expand or provide some code example with the issue?

Thanks!

[2018-03-05 12:37] diegotoral opened #66 "Alias render_component to a shorter name"
I have issues with long lines so what you guys think of aliasing `render_component` to a shorter method name?

Rails itself offers alias for some of it's helpers.

- [escape_javascript](http://api.rubyonrails.org/classes/ActionView/Helpers/JavaScriptHelper.html#method-i-escape_javascript) is aliased as `j`
- [localize](http://api.rubyonrails.org/classes/ActionView/Helpers/TranslationHelper.html#me

[2018-03-18 21:33] kitop commented on #66
Hi @diegotoral, thanks for the comment!

What would you suggest as the shorthand alias?

[2018-03-19 00:01] diegotoral commented on #66
I'm currently using `rc` on a project.

[2018-03-19 08:56] #66 closed

[2018-03-19 09:05] kitop commented on #66
Added and released in v0.13.0.
Thanks!!

[2018-03-20 23:26] diegotoral commented on #61
I've managed to setup webpack and mountain_view in the same app. Actually, I'm now using `frontend/components` as my default components directory.

With the lines bellow I was able to load components at `/styleguide`.

[code]

I'm also autoloading/importing components with

[code]

There may be problems or adjustments with this setup (I'm not currently using autogenerated styleguide) but it is wor

[2018-07-04 21:56] MikeRogers0 opened #67 "Overriding the 'render' method for amazing performance"
I was just bench marking the rendering time of my views and I found that each time I rendered a partial, it came with a ~30ms IO delay.

So I rewrote a few of my mountain view components which had partials like:
[code]

To be rendered in their `_component.rb` file, like:
[code]

The end result of just doing the above, was I was able to shave a ~2000ms render time down to 170ms!

Is it OK if I docu

[2018-07-05 17:19] kitop commented on #67
@MikeRogers0 great info!!! Thanks!! Please, do add to the README :D
The current render method does an inline `extend` and delegations, which are definitively performance hits. It's great to have an faster option for simpler cases.

[2018-10-03 19:01] ChristineP2 opened #70 "Additional Style Guide Meta Data"
I'm considering putting together a pull request that adds the following, and wanted to get feedback before I made the changes.

I'd like to create new optional mv_title, mv_description, and mv_classes keys for the stubs.  These would allow for a custom titles to replace the current <component N> naming, description and usage information for the specific example, and classes for the parent div the

[2018-10-05 10:04] kitop commented on #70
Hi @ChristineP2 thanks for opening an issue for this!
These is very valuable feedback and feature requests. Below ask some questions to understand more the intention and use-cases, and proposing some alternatives that might already do this (although not properly documented, sorry 😞)

I don't think this is documented, but you can change the component's title by overriding [`title` method](https://g

[2018-10-05 16:21] ChristineP2 commented on #70
mv_title and mv_description would be for each stub example, rather than for the main heading.  The idea is that each example would have a name and our UX team could give detailed instructions on the use of each variation of the component.  The mv_classes would be used to modify the display area around the element.  For example, we have an inverse button that is meant to be white on a blue backgrou

[2018-10-05 21:43] ChristineP2 commented on #70
Screen capture of the style guide with a custom partial from my local copy of mountain_view_demo.  This is for pull request #71.  I'm fairly new to rails/ruby development, so please let me know if I violate best practice.

![custom_home_page_content](https://user-images.githubusercontent.com/984648/46561494-85904980-c8bd-11e8-9c78-19efceba3196.PNG)

[2018-10-06 00:15] ChristineP2 commented on #70
Screen capture of the behaviors added by mv_title, mv_description, and mv_classes.  This is for pull request #72

I'm waffling on whether or not the keys with mv_ should be hidden in the properties section.  I lean toward hiding them, and expecting someone to have a duplicate key if the actually want that value in properties.  I'll add that as a question to the pull request.

Still fairly new to r

[2018-10-06 05:07] ChristineP2 commented on #70
As far as positioning of the component relative to the title and usage information, it seemed like there are basically ~~4~~ 5 options:

I thought of this after I'd finished doing all the screen shots, but I could pull the title out above everything, instead of leaving it inside the description div, so that's the 5th option.

Here are the 4 options I took screenshots for:

## Before everything lik

[2018-10-06 05:11] ChristineP2 commented on #70
Additionally, I have the following still on my short list:

* Determine whether the example code should use HAML or ERB, and display the example in whichever the component was written in
* Allow HTML in the meta and in the mv_description
* Toggle Sidebar

However, I thought we could talk about the 2 PRs that are there now, and I can come back to the above later.

[2018-10-10 14:51] ChristineP2 commented on #70
@kitop Do you want me to split the above into separate issues, instead of this long thread?

[2018-10-11 09:28] kitop commented on #70
Hi @ChristineP2, thanks for asking.
Please do open separate issues for the things mentioned above, it would be easier to talk about them in their own threads.

I've been super busy these past week and didn't have time to dedicate to Mountain View.
I'll come back to this issue and the PRs you opened (thank you!!) during the weekend or top of next week at most.

[2018-10-11 14:14] ChristineP2 commented on #70
Sounds good... I just read back through it and felt like it was a ton of information in one issue and that it would be hard to keep track of it all... I'm going to break it up and close this issue.

[2018-10-11 14:20] ChristineP2 opened #74 "Add Meta Data for each Stub"
The ability to provide a specific title, description, and additional class information on a per stub basis would provide a number of benefits when using the style guide:

1.  The title would provide clear, shared, terminology for the team to use with each component example
2.  The description can be used to provide use instructions for when and how each component should be used within the site, or

[2018-10-11 14:31] ChristineP2 opened #75 "Customized Styleguide Main Page"
Adding a base partial will give the option of customizing the main page of the styleguide.  This page could be used to give an overview of the design standards for the site.

Screen capture of the style guide with a custom partial from my local copy of mountain_view_demo.  This is for pull request #71.  I'm fairly new to rails/ruby development, so please let me know if I violate best practice.

He

[2018-10-11 14:34] ChristineP2 opened #76 "Consider moving sample below usage information"
Here are samples of some of the options available for positioning.  I propose one of the options where title/description are before the sample may be a more pleasing solution overall. As far as positioning of the component relative to the title and usage information, it seemed like there are basically ~~4~~ 5 options:

I thought of this after I'd finished doing all the screen shots, but I could pu

[2018-10-11 14:35] #70 closed

[2018-10-11 14:37] ChristineP2 opened #77 "Further UX changes for consideration:"
- Determine whether the example code should use HAML or ERB, and display the example in whichever the component was written in
- Allow HTML in the meta and in the mv_description
- Toggle Sidebar so that it can be removed from the interface to better view the responsive elements
- Toggle Usage details so they take up less space on initial display

[2018-10-12 15:50] ChristineP2 opened #78 "Extra Pages Label"
Is there a way to override the Extra Pages Label?  If yes, I'll document it and add it to the readme, if no, I propose adding it as a setting, then documenting it and adding it to the readme.

[2018-10-17 10:14] kitop commented on #74
+1 for the ideas!
Implementation moved to #73 instead of #72.

[2018-10-17 10:15] kitop commented on #75
Excellent idea!

[2018-10-17 10:19] kitop commented on #76
I don't have a strong opinion on this, except that I'd say it's best for the component to be outside the gray container with the code example.
So leaning towards

"Before everything like it is now" and "After Description". Pulling the title out of the gray container can also be an interesting option (and I'd still keep the component out of it as well)
Ping @devnacho for design feedback.

[2018-10-17 12:27] devnacho commented on #76
Thanks @ChristineP2 for your proposal!

I agree with @kitop that it's best for the component to be outside the gray container and I think that a good option to experiment would be:

- Title
- Component
- Gray cointainer with code

[2018-10-20 09:17] kitop commented on #78
That's a great idea!!! Looking at the PR now 😄

Thank you for contributing!! And no worries about time, there are absolutely no hurries :)

[2018-10-21 00:08] ChristineP2 commented on #77
As far as toggling the UI goes, we might be able to do it with CSS only, but it is a little clunky.  It's easier to use JS, but here is a CSS only fiddle. http://jsfiddle.net/ChristineP2/nLtfewvz/1/

The most annoying remaining issue is the expansion indicator displaying after a link is clicked, until the page reloads.

[2018-10-21 08:33] kitop commented on #77
Thanks for researching! Yeah, lets go with JS. Definitively easier and more flexible.

For some reason I though we were not including any JS, that's why I suggested CSS-only approach—but I was completely off, sorry!!

[2018-10-22 09:12] kitop commented on #78
Closed in #79

[2018-10-22 09:12] #78 closed

[2018-10-22 09:12] kitop commented on #78
Closed in #79

[2018-11-02 22:33] ChristineP2 commented on #77
Sorry I didn't get updates this week, Halloween ate all my spare time.  Hoping to be able to circle back next Friday.

[2018-11-03 09:39] kitop commented on #77
Absolutely no problems! Thanks for the heads up. There's no pressure at all to get this released, so take your time :)

[2018-12-01 05:06] ChristineP2 opened #83 "Running the test suite"
In order to get the tests to run in the test runner for RubyMine, I had to add `gem 'tzinfo-data'` and `gem 'minitest-reporters', '>= 0.5.0'` to the `Gemfile` and `require 'minitest/reporters'` and `Minitest::Reporters.use!` to `test_helper.rb`

Am I doing something wrong, or is there a better way to run the tests?

[2018-12-01 17:37] kitop commented on #83
Mmm, that is strange. You shouldn't need to add anything to run the test suite.
Seems like RubyMine *requires* `minitest-reporters` to be installed: https://www.jetbrains.com/help/ruby/minitest-reporters.html

Couldn't find anything about `tzinfo-data`, that has me a bit moe confused. What version of Rails are you running against?

I wouldn't be opposed to add `minitest-reporters` as a development

[2018-12-11 12:08] AlbertoHdezCerezo opened #84 "Components not found in Rails Engine"
Hi,

First of all thank you for this incredible gem! Recently I started working with Rails. I am developing a Rails APP which has a custom Engine mounted.

After generating a new component under the `component` folder of the `engine` app I tried to load my application, and got this error message:

´´´
Missing partial wiki/_wiki with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:r

[2018-12-11 21:09] kitop commented on #84
Oh, this is a very good question. And thanks for the kind words!

MountainView supports a `components_path` configuration option:
[code]

Unfortunately, that's only _one_ path, so if you have multiple component directories (like `/app/components` and `/app/engines/<engine>/components` that won't work.

It's a neat idea and happy to receive a PR if you want to work on it. It may not be that straigh

[2018-12-12 19:49] ChristinePanus commented on #77
Might want to use markdown instead of HTML for descriptions and such... but that creates other dependencies, so need to think about that 🤔

[2018-12-12 21:08] kitop commented on #77
I'm a huge fan of markdown, but as you said, I wouldn't like to introduce another dependency.
And given the audience and platform this is going to be running, I think HTML is a reasonable choice and even more flexible.

[2018-12-21 22:48] ChristinePanus commented on #83
Might have figured out at least the tz-info-data part... it is apparently needed for windows as it doesn't include zoneinfo files.  I am using a windows laptop...

[2018-12-22 09:43] kitop commented on #83
Oh! Great find!!
Then we can add it to the gemfile with a platform specific rule, like
[code]

More info about that option in the [bundler docs](https://bundler.io/man/gemfile.5.html#PLATFORMS)

[2019-01-17 12:53] julianrubisch commented on #17
How can I make this work in the _styleguide_?

I'm probably just missing a piece of configuration  here...

[2019-01-17 16:17] kitop commented on #17
Hi @julianrubisch, can you share an example of what you're trying to do and the error you're getting (if any)?

[2019-01-17 16:48] julianrubisch commented on #17
thanks for the reply... just when I wanted to reproduce, the issue was gone... probably an un-reloaded initializer or sthg... nevermind, sorry!

[2019-02-23 05:23] ChristineP2 opened #86 "Adding a wrapper in the style guide"
Hey, sorry I haven't had any PRs recently, work is intense.

I've been pondering how useful it would be to be able to have the ability to insert the example into a partial in the style guide.

So, if you wanted to show how a complex form component would display within your simple_form, you could create a partial with the form setup, then display the example within that partial.

Would that make se

[2019-02-24 10:34] kitop commented on #86
This is a very interesting proposition and can potentially solve a bunch of issues! :) Thanks for proposing this! And no worries at all about PRs, there's no pressure and life's busy!

Do you have any ideas how the final API could look like, from the user perspective? Like, how would an example with this wrapper look like in the yaml?

I'm trying to think how the easiest way for the user to do thi

[2019-03-11 04:40] ChristineP2 commented on #86
I was going to try out a theory tonight, but I ended up fussing with the demo app for quite some time after re-checking it out.  I forgot I had to update pg to 1.1.3 in order for it to work on windows (in addition to adding tz-info).

My current theory is that I'll be looking for the key `partial` within the `mv_stub_meta`.  If the key is present and has a valid partial, the component would be loa

[2019-03-24 21:55] ChristineP2 commented on #86
I made a PR (#88) with the general concept I was going for.  Let me know what you think

[2019-07-25 19:55] ChristineP2 opened #89 "Gem to Gem Conflict - Ransack v Mountain View"
Interesting thing happened today.  We started receiving the error
`undefined local variable or method `_component' for #<#<Class:0x00007fb63c295be0>:0x00007fb645fcb180>` in a page where we used both a component with the following properties defined `properties :type, :title, :body, :url, :card_classes` and a ransack sort call `sort_link(@ransack_object, :foo, 'bar'))`

When I dug into the form_hel

[2019-10-12 15:32] kitop commented on #89
Hi @ChristineP2,

Thanks for reporting this issue. I'd definitively like to avoid conflicts with other gems.
Do you mind creating a small sample repo with a reproducible case of this issue? That'd help tremendously in understanding where the issue comes from so we can rearchitect were needed.

[2022-08-25 19:48] ChristineP2 opened #92 "autoload Deprecation Rails 6.1"
Hi!  I'm back!  I'll circle back on my other tickets I hope... sorry I disappeared.

Are you guys still maintaining this gem? I'm getting a deprecation warning:

[2022-08-26 20:39] ChristineP2 opened #93 "Examples yielding block in style guide?"
I'm not seeing how we'd show an example of a component with a block in teh style guide.  Am I missing it or do we need to add it?